<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="sessionFactory">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="hibernate.default_schema">[DEFAULT_SCHEMA]</property>
  <property name="hibernate.connection.url">jdbc:postgresql://[DATABASE HOSTNAME]/[DATABASE]</property>
  <property name="hibernate.connection.username">[DATABASE USERNAME]</property>
  <property name="hibernate.connection.password">[USERNAME PASSWORD]</property>
  <property name="hibernate.c3p0.max_size">5</property>
  <property name="hibernate.c3p0.min_size">2</property>
  <property name="hibernate.c3p0.timeout">300</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.idle_test_period">3000</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">create</property>
  <mapping class="br.com.lawbook.model.Location"/>
  <mapping class="br.com.lawbook.model.Profile"/>
  <mapping class="br.com.lawbook.model.User"/>
 </session-factory>
</hibernate-configuration>
