body {
    background: url("../resources/images/mainBG.jpg") no-repeat scroll center top #121212;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 100%;
    line-height: 1em;
    overflow: hidden;
}
h2 {
    text-transform:uppercase;
    line-height: 19px;
    margin-bottom: 19px;
    color: #FFFFFF;
    font: bold 30px/1.2em 'PT Sans Narrow',sans-serif;
}
h2 > span {
    color: #8F8F8F;
    font: 24px/1.2em 'PT Sans Narrow',sans-serif;
    position: relative;
    top: -20px;
}
p{
    line-height: 19px;
    margin-bottom: 19px;
    font-style:italic;
    font-size: 14px;
}
#loginBlock{
    position: absolute;
    right: 120px;
    top: 20px;
}
.columnLeft{
    width: 260px;
    float: left;
    padding: 5px;
    margin-top: 80px;
}
.columnRight{
    margin-left: 270px;
    padding: 70px 5px 5px 5px;
    margin-top: 80px;
}
.separador{
    border-left: thin solid white;
    padding-left: 15px; 
}
.white{
    color: #fff;
    line-height: 19px;
    margin-bottom: 19px;
    font-style:italic;
}
.gray{
    color: #8F8F8F;
}
.blockProjeto {
    color: white;
    position:absolute;
    background-image: url('../resources/images/repeat.png');
    background-repeat: repeat;
    left:700px;
    width:550px;
    height:640px;
    margin:5px;
    padding: 15px;
}
.blockObjetivo{
    color: white;
    position:absolute;
    background-image: url('../resources/images/repeat.png');
    background-repeat: repeat;
    left:700px;
    width:550px;
    height:640px;
    margin:5px;
    padding: 15px;
}
#logo{
    position: absolute;
    top: 0px;
    left: 145px;
}
#banner{
    position: absolute;
    top: 250px;
    left: 145px;
}
.login{
    color: gray;
}
.senha{
    color: gray;
}
#btEntrar{
        font-size:12px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#ff9933;
        border:0px;
        width:80px;
        height:19px;
}